node_modules

ormconfig.json

.env

dist/**

package-lock.json

yarn-lock.json

coverage/**

*.pem

temp/*

/temp/uploads/**

!/temp/uploads/.gitkeep

/.docker/**

!/.docker/nginx/
!/.docker/nginx/**
!/.docker/entrypoit.prod.sh
!/.docker/entrypoit.dev.sh
core
run.ts
*.csv
*.txt
.vscode

# dev files
src/csv.ts
a.*


*.log
